
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Castoro:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@100..900&display=swap');
body {
  margin: 0;
  font-family: "M PLUS 2", sans-serif;
}

#recaptcha-container{
  margin-bottom: 5px;
}

.p-conf, .n-conf{
  display: none;
  width: 100%;
}

.p-conf{
  background-color: green;
  height: 2em;
  color: white;
  margin-top: 5px;
}
.n-conf{
  background-color: red;
  height: 2em;
  color: white;
  align-items: center;
  margin-top: 5px;
}
#sender, #verifier{
  width: 100%;
}

.navbar {
  background-color: #588157;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 60px; /* Adjust as needed */
  height: auto; /* Ensures aspect ratio is maintained */
  margin-right: 10px;
}

.logo-text {
  font-family: 'Castoro Titling', serif;
  font-size: 24px;
  color: white;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-size: large;
 
}

.nav-link:hover {
  color: lightgrey;
}

.fa-user {
  color: white;
  font-size: 20px;
}

/* Existing CSS */

.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 25px;
  }
  
  /* Media Query for screen width less than 700px */
  @media screen and (max-width: 700px) {
    .navbar-right {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 90px;
      right: 0;
      gap:20px;
      background-color: #1dbab5a0;
      padding: 10px 20px;
      border-radius: 5px;
    }
  
    .navbar-right.active {
      display: flex;
    }
  
    .menu-icon {
      display: block;
      color:white;
    }
  }
  

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("../images/meh.jpeg");
    background-repeat: repeat;
     /* Cover entire width while maintaining aspect ratio */
    background-size: cover;
    background-position: center; 
   
   
    /* background: rgb(193, 252, 211); 
    background: linear-gradient(85deg, rgba(193, 252, 211, 1) 0%, rgba(13, 220, 163, 1) 100%); */
} 
/* Update CSS for label and input positioning */
.login-box form, .signup-box form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align form items to the start (left) */
}

.login-box label, .signup-box label {
    align-self: flex-start; /* Align labels to the start (left) */
    margin-bottom: 5px;
    text-align: left; /* Align label text to left */
    width: 100%; /* Ensure label takes full width */
}

.login-box input[type="text"],
.login-box input[type="password"],
.login-box button,
.signup-box input[type="text"],
.signup-box input[type="number"],
.signup-box input[type="tel"],
.signup-box input[type="password"],
.signup-box button {
    padding: 10px;
    margin-bottom: 8px;
    width: 100%; /* Make inputs and button full width */
    box-sizing: border-box; /* Include padding and border in width calculation */
}


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box, .signup-box {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 40px; /* Increased padding for bigger box */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center; /* Center align the content */
    width: 70%; /* Set the width as needed */
    max-width: 500px; /* Set a max-width if necessary */
    margin: 0 auto;
    
    min-height: 50px; /* Set a minimum height */
    max-height: 100vh; /* Set a maximum height relative to viewport height */
    overflow-y: auto; /* Add scrollbar if content overflows vertically */
    margin-bottom: 10vh;
    margin-top: 10vh;
   
    
    
}
.signup-box {
  margin-top: 25vh;

}




.login-box h2, .signup-box h2 {
    margin-bottom: 20px;
}

.login-box form, .signup-box form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align form items */
}

.login-box input[type="text"],
.login-box input[type="password"],
.login-box button,
.signup-box input[type="text"],
.signup-box input[type="number"],
.signup-box input[type="tel"],
.signup-box input[type="password"],
.signup-box button {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%; /* Make inputs and button full width */
    box-sizing: border-box; /* Include padding and border in width calculation */
}

.login-box button, .signup-box button {
    background-color: #588157;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: medium;
}

.login-box p, .signup-box p {
    margin-top: 20px; /* Add some space between form and sign-up text */
}

.login-box p a, .signup-box p a {
    color: #588157;
    text-decoration: none;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    .login-box, .signup-box {
        width: 80%;
        margin: 30px auto;
    }
}

@media only screen and (max-width: 480px) {
    .login-box, .signup-box {
        width: 90%;
        margin: 20px auto;
    }
}

/* Alert box styles */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    width: fit-content;
    margin: 0 auto; /* Center horizontally */
    text-align: center;
    position: absolute; /* Position absolutely */
    top: calc(50% - 150px); /* Adjust the top position as needed */
    left: 0;
    right: 0;
}

/* Close button for the alert box */
.close-btn {
    float: right;
    font-weight: bold;
    cursor: pointer;
}

/* Style for success alert */
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

/* Style for error alert */
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
